.cuA {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/background/bg6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8%;
  color: white;
  text-align: center;
  font-weight: bold;
}
.cuAa {
  font-size: 74px;
  padding-bottom: 20px;
}
.cuAb {
  font-size: 48px;
}
@media only screen and (max-width: 800px) {
  .cuAa {
    font-size: 32px;
  }
  .cuAb {
    font-size: 20px;
  }
}
